<%= render 'shared/navbaradmin'%>
<% if current_user && current_user.profile && current_user.profile.statut == "admin"%>
<h1>Modifier l'actualité</h1>


<div class="container">
<%= render 'form', actualite: @actualite %>


</div>
<%else%>
<h1>Vous n'avez pas accès à cette page</h1>
<%end%>
