<footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy;<strong><span>Michel STAUMONT 2021</span></strong>
      </div>
      <div class="credits">

        <p style="color:white;">Site entièrement réalisé par Antoine STAUMONT (staumont.antoine@me.com)</p>
        <a href="<%=pages_legal_path%>">Conditions générales de vente</a>
      </div>
    </div>
  </footer><!-- End  Footer -->
