<body>
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <%= render 'shared/navbaractualites'%>
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Mon actualité</h2>
          <ol>
            <li><a href="<%=root_path%>">Accueil</a></li>
            <li>Actualités</li>
          </ol>
        </div>
      </div>
    </section>
    <section class="inner-page">
      <div class="container">
        <section id="portfolio" class="portfolio section-bg">
          <div class="container">
            <body class="events-news-page">
              <div class="container">
                <div class="row">
                  <div class="col-12">

                    <article class="events-news-post">
                      <header class="entry-header">
                        <h2 class="entry-title">A guide to all summer festivals</h2>
                        <div class="entry-meta flex align-items-center">
                          <div class="posted-author"><i >Lieu</i></div>
                          <div class="post-comments"><p >Date</p></div>
                        </div>
                      </header>
                      <figure>
                        <img src="../assets/home.jpg" alt="">
                      </figure>
                      <div class="entry-content">
                        <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et, scelerisque sit amet metus. Duis vel semper turpis, ac tempus libero. Maecenas id ultrices risus. Aenean nec ornare ipsum, lacinia volutpat urna. Maecenas ut aliquam purus, quis sodales dolor.tiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et, scelerisque sit ame.</p>
                      </div>
                    </article>

                  </div>
                </div>
              </div>
            </body>
          </div>
        </section>
      </div>
    </section>
  </main>
</body>


